<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico" />
    <link rel="stylesheet" href="../assets/styles/body.css" />
    <link rel="stylesheet" href="../assets/styles/nav.css" />
    <link rel="stylesheet" href="../assets/styles/contact.css" />
    <title>Contact</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div>
          <a href="https://github.com/Alvacampos" class="nav-bar__git-wrapper">
            <img
              tabindex="-1"
              src="../assets/icons/github-icon.svg"
              class="nav-bar__git"
              alt="Github Logo"
              title="Gonzalo´s repository"
            />
          </a>
          <ul class="nav-bar__buttons" tabindex="-1">
            <li tabindex="-1">
              <a href="../index.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/home.svg"
                  class="nav-bar__icon"
                  alt="Home Logo"
                  title="Home"
                />
                <span>Home</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./skills.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/paper.svg"
                  class="nav-bar__icon"
                  alt="CV Logo"
                  title="CV"
                />
                <span>CV</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./projects.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/folder.svg"
                  class="nav-bar__icon"
                  alt="Folder Logo"
                  title="Projects"
                />
                <span>Projects</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./studies.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/studies.svg"
                  class="nav-bar__icon"
                  alt="Studies Logo"
                  title="Studies"
                />
                <span>Studies</span>
              </a>
            </li>
            <li id="active-btn" tabindex="-1">
              <a href="./contact.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/profile.svg"
                  class="nav-bar__icon"
                  alt="Contact Logo"
                  title="Contact"
                />
                <span>Contact</span>
              </a>
            </li>
          </ul>
        </div>
        <img src="../assets/img/linkedin_dark.png" alt="cv-qr" id="qr-svg" />
      </nav>
    </header>
    <main class="contact">
      <section class="contact__card">
        <p>Leave you contact information and I will get in touch with you.</p>
        <form action="#" method="GET" class="contact__form">
          <label for="fname">First name:</label>
          <input type="text" id="fname" name="fname" required />
          <label for="lname">Last name:</label>
          <input type="text" id="lname" name="lname" required />
          <label for="phone">Phone Number</label>
          <input type="number" id="phone" name="phone" />
          <label for="mail">Email:</label>
          <input type="email" id="mail" name="mail" required />
          <div class="contact__submit-wrapper">
            <button type="submit">Submit</button>
            <a href="/views/contact.html"><span>Cancel</span></a>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
