<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico" />
    <link rel="stylesheet" href="../assets/styles/body.css" />
    <link rel="stylesheet" href="../assets/styles/nav.css" />
    <link rel="stylesheet" href="../assets/styles/skills.css" />
    <title>Jobs</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div>
          <a href="https://github.com/Alvacampos" class="nav-bar__git-wrapper">
            <img
              tabindex="-1"
              src="../assets/icons/github-icon.svg"
              class="nav-bar__git"
              alt="Github Logo"
              title="Gonzalo´s repository"
            />
          </a>
          <ul class="nav-bar__buttons" tabindex="-1">
            <li tabindex="-1">
              <a href="../index.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/home.svg"
                  class="nav-bar__icon"
                  alt="Home Logo"
                  title="Home"
                />
                <span>Home</span>
              </a>
            </li>
            <li id="active-btn" tabindex="-1">
              <a href="./skills.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/paper.svg"
                  class="nav-bar__icon"
                  alt="CV Logo"
                  title="CV"
                />
                <span>CV</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./projects.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/folder.svg"
                  class="nav-bar__icon"
                  alt="Folder Logo"
                  title="Projects"
                />
                <span>Projects</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./studies.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/studies.svg"
                  class="nav-bar__icon"
                  alt="Studies Logo"
                  title="Studies"
                />
                <span>Studies</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./contact.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/profile.svg"
                  class="nav-bar__icon"
                  alt="Contact Logo"
                  title="Contact"
                />
                <span>Contact</span>
              </a>
            </li>
          </ul>
        </div>
        <img src="../assets/img/linkedin_dark.png" alt="cv-qr" id="qr-svg" />
      </nav>
    </header>
    <main class="skills">
      <section class="skills__work">
        <h2>Work Experience</h2>
        <div class="work__wrapper">
          <div class="work__column">
            <div
              class="work__divider work__divider--left"
              id="first-divider"
            ></div>
            <div class="work__item work__item--left">
              <img
                src="../assets/icons/new-job.svg"
                class="work__project work__project--left"
                alt="New Project Logo"
                title="New Project"
              />
              <div class="exp_line-horizontal"></div>
              <div class="work__card">
                <h2>Cliengo</h2>
                <p>Date: Dec 2020 - Aug 2021 (9 mos)</p>
                <p>Hired as Mid Level Full-stack developer.</p>
                <ul>
                  <li>
                    <h3>Project Conversational</h3>
                    <p>
                      Conversational App. Web development using ReactJs, also
                      working with mobile apps using React Native. Tech
                      migrations from angular to react. Use of Axios, Bootstrap,
                      ECMA 6+.
                    </p>
                  </li>
                  <li>
                    <h3>Project Live/Lit</h3>
                    <p>
                      CRM App, conversation handler, using React Js, Css,
                      Router, Redux, Axios. Unit Testing with JestJs, Deployment
                      with AWS/Heroku.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="work__divider work__divider--left"></div>
            <div class="work__item work__item--left">
              <img
                src="../assets/icons/new-job.svg"
                class="work__project work__project--left"
                alt="New Project Logo"
                title="New Project"
              />
              <div class="exp_line-horizontal"></div>
              <div class="work__card">
                <h2>Endava</h2>
                <p>Date: Aug 2021 - Apr 2022 (9 mos)</p>
                <p>Hired as Mid Level Full-stack developer.</p>
                <ul>
                  <li>
                    <h3>Project Conversational</h3>
                    <p>
                      Conversational App. Web development using ReactJs, also
                      working with mobile apps using React Native. Tech
                      migrations from angular to react. Use of Axios, Bootstrap,
                      ECMA 6+.
                    </p>
                  </li>
                  <li>
                    <h3>Project Live/Lit</h3>
                    <p>
                      CRM App, conversation handler, using React Js, Css,
                      Router, Redux, Axios. Unit Testing with JestJs, Deployment
                      with AWS/Heroku.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="work__divider work__divider--left"></div>
            <div class="work__item work__item--left">
              <img
                src="../assets/icons/new-job.svg"
                class="work__project work__project--left"
                alt="New Project Logo"
                title="New Project"
              />
              <div class="exp_line-horizontal"></div>
              <div class="work__card">
                <h2>Sitenso</h2>
                <p>Date: Sep 2022 - Present (2 mos)</p>
                <p>Hired as Technical Manager.</p>
                <p>
                  Technical leader and manager for many projects and developers.
                  In charge of technical interview, planning and developer path.
                </p>
              </div>
            </div>
          </div>
          <div class="exp_line-vertical"></div>
          <div class="work__column">
            <div class="work__item">
              <img
                src="../assets/icons/new-job.svg"
                class="work__project work__project--right"
                alt="New Job Logo"
                title="New Job"
              />
              <div class="exp_line-horizontal"></div>
              <div class="work__card">
                <h2>Globant</h2>
                <p>Date: Aug 2018 - Dec 2020 (2 yrs 5 mos)</p>
                <p>Hired as Jr Web developer.</p>
                <ul>
                  <li>
                    <h3>Project: eVestment</h3>
                    <p>
                      Web development focused in VueJs (use of state,
                      store(vuex), router), worked with Highcharts and VueJs to
                      make reusable components for the clients’ page. And minor
                      exp with backend using .net core and nodejs.
                    </p>
                  </li>
                  <li>
                    <h3>Project: Smile Direct Club</h3>
                    <p>
                      Web development with frontend technologies such VueJs and
                      NuxtJs focus on page performance using nuxt server-side
                      capacity. Use of vue-axios, bootstrap-vue, ECMA 6+.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="work__divider work__divider--right"></div>
            <div class="work__item">
              <img
                src="../assets/icons/new-job.svg"
                class="work__project work__project--right"
                alt="New Project Logo"
                title="New Project"
              />
              <div class="exp_line-horizontal"></div>
              <div class="work__card">
                <h2>Professor (part-time)</h2>
                <p>Date: Jul 2021 - Mar 2022 (9 mos)</p>
                <p>Teaching programming to first year students.</p>
              </div>
            </div>
            <div class="work__divider work__divider--right"></div>
            <div class="work__item">
              <img
                src="../assets/icons/new-job.svg"
                class="work__project work__project--right"
                alt="New Project Logo"
                title="New Project"
              />
              <div class="exp_line-horizontal"></div>
              <div class="work__card">
                <h2>Moove-IT</h2>
                <p>Date: Apr 2022 - Present (7 mos)</p>
                <p>Hired as Senior Full-stack developer.</p>
                <ul>
                  <li>
                    <h3>Project Avant</h3>
                    <p>
                      Software development for Avant application, working on a
                      web app using Remix (ReactJs framework for SSR).
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="skills__icons-card">
        <h3>Skills & Tools</h3>
        <div class="icons-card__wrapper">
          <img src="../assets/icons/html.svg" alt="HTML Logo" title="HTML" />
          <img src="../assets/icons/css.svg" alt="CSS Logo" title="CSS" />
          <img
            src="../assets/icons/tailwind.svg"
            alt="Tailwind Logo"
            title="Tailwind"
          />
          <img
            src="../assets/icons/js.svg"
            alt="JavaScript Logo"
            title="JavaScript"
          />
          <img src="../assets/icons/react.svg" alt="React Logo" title="React" />
          <img src="../assets/icons/redux.svg" alt="Redux Logo" title="Redux" />
          <img
            src="../assets/icons/nodejs.svg"
            alt="Nodejs Logo"
            title="NodeJs"
          />
          <img src="../assets/icons/axios.svg" alt="Axios Logo" title="Axios" />
          <img
            src="../assets/icons/express.svg"
            alt="Express Logo"
            title="Express"
          />
          <img src="../assets/icons/git-icon.svg" alt="Git Logo" title="Git" />
          <img
            src="../assets/icons/mongodb.svg"
            alt="Mongodb Logo"
            title="Mongodb"
          />

          <img src="../assets/icons/html.svg" alt="HTML Logo" title="HTML" />
          <img src="../assets/icons/css.svg" alt="CSS Logo" title="CSS" />
          <img
            src="../assets/icons/tailwind.svg"
            alt="Tailwind Logo"
            title="Tailwind"
          />
          <img
            src="../assets/icons/js.svg"
            alt="JavaScript Logo"
            title="JavaScript"
          />
          <img src="../assets/icons/react.svg" alt="React Logo" title="React" />
          <img src="../assets/icons/redux.svg" alt="Redux Logo" title="Redux" />
        </div>
      </section>
      <section class="skills__leadership">
        <h2>Leadership & Mentoring Experience</h2>
        <article class="skills__article-leadership">
          <div class="skills__card-leadership">
            <div class="skills__card-wrapper">
              <img
                src="../assets/img/endava.png"
                class="skills__work--icon"
                alt="Endava Logo"
              />
            </div>
            <div>
              <ul>
                <li>
                  <h3>Endava Argentina Internship</h3>
                  <p>
                    Organizer and mentor for Endava Argentina Internship Program
                    2022. In charge of lectures related to JS and general
                    programming.
                  </p>
                </li>
                <li>
                  <h3>Endava Argentina Internship</h3>
                  <p>
                    Organizer and mentor for Endava Argentina Internship Program
                    2022. In charge of lectures related to JS and general
                    programming.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card-leadership">
            <div class="skills__card-wrapper">
              <img
                src="../assets/img/unsta.png"
                class="skills__work--icon"
                alt="Sitenso Logo"
              />
            </div>
            <div>
              <ul>
                <li>
                  <h3>Technical Leader</h3>
                  <p>Technical Leader of final project team</p>
                </li>
                <li>
                  <h3>Professor</h3>
                  <p>
                    Teaching programming to first year students Engineering
                    Career.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card-leadership">
            <div class="skills__card-wrapper">
              <img
                src="../assets/img/sitenso.png"
                class="skills__work--icon"
                alt="Sitenso Logo"
              />
            </div>
            <div>
              <ul>
                <li>
                  <h3>Technical Leader</h3>
                  <p>Technical Leader of Sitensos´ main projects.</p>
                </li>
                <li>
                  <h3>Technical Manager</h3>
                  <p>
                    Management of 2 development teams, implementing good
                    practices and methodologies.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
