<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/styles/nav.css">
  <title>Document</title>
</head>
<body>
  <header>
    <nav class="nav-bar">
      <object data="./assets/img/invader.svg" class="nav-bar__invader"></object>
      <ul class="nav-bar__buttons">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./views/skills.html">Contact</a></li>
        <li><a href="#">Skills</a></li>
      </ul>
    </nav>
  </header>
  hola
</body>
</html>
