<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.ico" />
    <link rel="stylesheet" href="../assets/styles/body.css" />
    <link rel="stylesheet" href="../assets/styles/nav.css" />
    <link rel="stylesheet" href="../assets/styles/skills.css" />
    <title>Jobs</title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div>
          <a href="https://github.com/Alvacampos" class="nav-bar__git-wrapper">
            <img
              tabindex="-1"
              src="../assets/icons/github-icon.svg"
              class="nav-bar__git"
              alt="Github Logo"
              title="Gonzalo´s repository"
            />
          </a>
          <ul class="nav-bar__buttons" tabindex="-1">
            <li tabindex="-1">
              <a href="../index.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/home.svg"
                  class="nav-bar__icon"
                  alt="Home Logo"
                  title="Home"
                />
                <span>Home</span>
              </a>
            </li>
            <li id="nav-bar--active" tabindex="-1">
              <a href="./skills.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/paper.svg"
                  class="nav-bar__icon"
                  alt="CV Logo"
                  title="CV"
                />
                <span>CV</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./projects.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/folder.svg"
                  class="nav-bar__icon"
                  alt="Folder Logo"
                  title="Projects"
                />
                <span>Projects</span>
              </a>
            </li>
            <li tabindex="-1">
              <a href="./contact.html">
                <img
                  tabindex="-1"
                  src="../assets/icons/profile.svg"
                  class="nav-bar__icon"
                  alt="Contact Logo"
                  title="Contact"
                />
                <span>Contact</span>
              </a>
            </li>
          </ul>
        </div>
        <img
          src="../assets/img/linkedin_dark.png"
          alt="cv-qr"
          id="footer__qr"
        />
      </nav>
    </header>
    <main class="skills__main">
      <section class="skills__work">
        <article class="skills__article-work">
          <h2>Work Experience</h2>
          <div class="skills__card">
            <img
              src="../assets/icons/globant.svg"
              class="skills-card__work--icon"
              alt="Globant Logo"
              title="Globant"
            />
            <div>
              <ul>
                <li>
                  <h3>Project Smile Direct Club (SDC)</h3>
                  <p>
                    Web development with frontend technologies such VueJs and
                    NuxtJs focus on page performance using nuxt server-side
                    rendering. Use of vue-axios, bootstrap-vue, ECMA 6+.
                  </p>
                </li>
                <li>
                  <h3>Project eVestment Analytics</h3>
                  <p>
                    Web development focused in VueJs (use of state, store(vuex),
                    router), worked with Highcharts and VueJs to make reusable
                    components for the clients page. And minor exp with backend
                    using .net core and nodejs.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card">
            <img
              src="../assets/img/cliengo.png"
              class="skills-card__work--icon"
              alt="Cliengo Logo"
              title="Cliengo"
            />
            <div>
              <ul>
                <li>
                  <h3>Project Live/Lit</h3>
                  <p>
                    CRM App, conversation handler, using React Js, Css, Router,
                    Redux, Axios. Unit Testing with JestJs, Deployment with
                    AWS/Heroku.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card">
            <img
              src="../assets/img/endava.png"
              class="skills-card__work--icon"
              alt="Endava Logo"
              title="Endava"
            />
            <div>
              <ul>
                <li>
                  <h3>Project Marklogic</h3>
                  <p>
                    Working in a semantics data base project for Yale
                    University.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card">
            <img
              src="../assets/img/moove-it.jpeg"
              class="skills-card__work--icon"
              alt="Moove-IT logo"
              title="Moove-IT"
            />
            <div>
              <ul>
                <li>
                  <h3>Project Avant</h3>
                  <p>
                    Full stack project for Avant a US loan company. Focused on
                    ReactJs, Remix.run, Css, Sass.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card">
            <img
              src="../assets/img/sitenso.png"
              class="skills-card__work--icon"
              alt="Sitenso Logo"
              title="Sitenso"
            />
            <div>
              <ul>
                <li>
                  <h3>Technical Manager</h3>
                  <p>
                    Managing developers and projects. In charge of interviews,
                    performance assessments and developers careers.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </article>
        <aside class="skills__wrapper-icons">
          <div>
            <h3>Skills & Tools</h3>
          </div>
          <div class="skills__icons">
            <img src="../assets/icons/html.svg" alt="HTML Logo" title="HTML" />
            <img src="../assets/icons/css.svg" alt="CSS Logo" title="CSS" />
            <img
              src="../assets/icons/tailwind.svg"
              alt="Tailwind Logo"
              title="Tailwind"
            />
            <img
              src="../assets/icons/js.svg"
              alt="JavaScript Logo"
              title="JavaScript"
            />
            <img
              src="../assets/icons/react.svg"
              alt="React Logo"
              title="React"
            />
            <img
              src="../assets/icons/redux.svg"
              alt="Redux Logo"
              title="Redux"
            />
            <img
              src="../assets/icons/nodejs.svg"
              alt="Nodejs Logo"
              title="NodeJs"
            />
            <img
              src="../assets/icons/axios.svg"
              alt="Axios Logo"
              title="Axios"
            />
            <img
              src="../assets/icons/express.svg"
              alt="Express Logo"
              title="Express"
            />
            <img
              src="../assets/icons/git-icon.svg"
              alt="Git Logo"
              title="Git"
            />
            <img
              src="../assets/icons/mongodb.svg"
              alt="Mongodb Logo"
              title="Mongodb"
            />
          </div>
        </aside>
      </section>
      <h2>Leadership Experience & Tools</h2>
      <section class="skills__leadership">
        <article class="skills__article-tools">
          <div class="skills__card-leadership">
            <img
              src="../assets/img/endava.png"
              class="skills-card__work--icon"
              alt="Endava Logo"
            />
            <div>
              <ul>
                <li>
                  <h3>Endava Argentina Internship</h3>
                  <p>
                    Organizer and mentor for Endava Argentina Internship Program
                    2022. In charge of lectures related to JS and general
                    programming.
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card-leadership">
            <img
              src="../assets/img/unsta.png"
              class="skills-card__work--icon"
              alt="Sitenso Logo"
            />
            <div>
              <ul>
                <li>
                  <h3>Professor</h3>
                  <p>Teaching programming to first year students.</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills__card-leadership">
            <img
              src="../assets/img/sitenso.png"
              class="skills-card__work--icon"
              alt="Sitenso Logo"
            />
            <div>
              <ul>
                <li>
                  <h3>Technical Manager</h3>
                  <p>
                    Management of 2 development teams, implementing good
                    practices and methodologies.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
