@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
html {
  height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: #f0f6fc;
  font-family: Lato, sans-serif;
  background-color: #010408;
  display: grid;
  grid-template-rows: 1fr auto;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: auto; }

body::-webkit-scrollbar {
  display: none; }

header {
  order: 2;
  height: 100%; }

main {
  order: 1;
  width: 100%;
  height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */ }

.card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

/* Device Breakpoints */
/* Desktop Small */
@media only screen and ((min-width: 1076px)) {
  body {
    grid-template-columns: auto 1fr;
    grid-template-rows: none;
    gap: 20px; }
  header {
    order: 1; } }
