.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
}

.contact__card {
  border-radius: 6px;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
  padding: 50px 30px;
  width: 100%;
  height: 100%;
}

.contact__card p {
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
}

.contact__form input {
  border-radius: 5px;
  min-height: 30px;
}

.contact__submit-wrapper {
  display: flex;
  align-self: center;
  gap: 30px;
  margin-top: 30px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.contact__form button {
  font-family: Lato, sans-serif;
  font-size: 15px;
  color: #ffffff;
  background-color: #238636;
  border-color: rgba(240, 246, 252, 0.1);
  box-shadow: 0 0 transparent, 0 0 transparent;
  padding: 5px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.contact__form button:hover {
  background-color: #2ea043;
  border-color: rgba(240, 246, 252, 0.1);
}

.contact__form a {
  font-family: Lato, sans-serif;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: #c9d1d9;
  background-color: #21262d;
  border-color: rgba(240, 246, 252, 0.1);
  box-shadow: 0 0 transparent, 0 0 transparent;
  padding: 5px 16px;
  border-radius: 4px;
}

.contact__form a:hover {
  background-color: rgba(96, 104, 108, 0.6);
  border-radius: 4px;
}

/* Device Breakpoints */
/* Desktop Small */
@media only screen and (min-width: 1076px) {
  .contact__card {
    width: 65%;
    height: 50%;
  }
}

/* Desktop Medium */
@media only screen and (min-width: 1296px) {
  .contact__card {
    width: 65%;
  }
}
