.education {
  overflow: auto;
}

.education__degree {
  overflow: auto;
  flex-direction: column;
  display: flex;
  gap: 50px;
  min-width: -webkit-fill-available;
}

.education__degree::-webkit-scrollbar {
  display: none;
}

.degree__card {
  border-radius: 10px;
  min-height: 25vh;
}

.degree__title {
  box-shadow: inset 0 -1px 0 #21262d;
  margin: 0;
  background-color: #161b22;
  width: 100%;
  text-align: center;
}

.degree__subtitle {
  text-align: center;
  font-weight: 700;
  padding: 0 10px;
}

.degree__description {
  text-align: center;
  font-size: 16px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.degree__description a {
  text-decoration: none;
  color: #238636;
}

.degree__description a:hover {
  cursor: pointer;
}

.degree__description ul {
  list-style: none;
  padding: 0;
}

.degree__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.degree__icons img {
  display: none;
  width: 80px;
}

/* Device Breakpoints */
/* Mobile Large */
@media only screen and (min-width: 1076px) {
  .education__degree {
    overflow: scroll;
    display: grid;
    gap: 50px;
    height: 100%;
    align-items: center;
    /* max-width: 59vw; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: initial;
    max-width: initial;
  }

  .degree__card {
    /* border-radius: 10px; */
    min-width: 25vw;
    min-height: 60vh;
    align-items: center;
    gap: 50px;
  }

  .degree__icons img {
    display: block;
  }
}
