.footer__wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
  background-color: #161b22;
}

.footer__items {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.footer__items__wrapper {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.footer__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__item a {
  align-items: center;
  display: flex;
  gap: 20px;
  text-decoration: none;
  color: initial;
  color: #ffffff;
}

.footer__item p {
  margin: 0;
}

.footer__qr {
  width: 150px;
  height: 150px;
}

.footer__icon {
  width: 30px;
  height: 30px;
}

/* Device Breakpoints */
/*Desktop Medium*/
@media only screen and (max-width: 1296px) {
}

/*Desktop Small*/
@media only screen and (max-width: 1076px) {
  .footer__wrapper {
    justify-content: space-between;
  }

  .footer__items {
    gap: 20px;
    flex-direction: column;
    align-content: flex-start;
    flex-grow: initial;
    align-items: flex-start;
    gap: 10px;
  }

  .footer__items__wrapper {
    gap: 10px;
  }

  .footer__qr {
    display: none;
  }

  #footer__cv {
    display: block;
  }
}

/*Mobile Large*/
@media only screen and (max-width: 690px) {
  .footer__wrapper {
    justify-content: center;
  }

  .footer__items {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    justify-content: center;
    flex-grow: 0;
  }

  #footer__cv {
    display: none;
  }
}

/*Mobile Medium*/
@media only screen and (max-width: 496px) {
  .footer__item {
    gap: 10px;
  }

  .footer__item a {
    gap: 10px;
  }

  .footer__icon {
    width: 20px;
  }
}
