.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.footer__wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}

.footer__items {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.footer__qr {
  width: 150px;
}
