.skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
  padding: 10px;
}

.skills::-webkit-scrollbar {
  display: none;
}

.skills__work h2 {
  text-align: center;
}

.work__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.work__column {
  gap: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  align-items: center;
  min-width: 50%;
}

.work__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.work__item--left {
  flex-direction: row-reverse;
}

.work__card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0d1117;
  border: 1px solid #30363d;
  padding: 15px;
  border-radius: 10px;
  max-width: 80%;
  width: 100%;
}

.work__divider {
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
}

.date__wrapper {
  display: flex;
  align-items: center;
}

.work__project {
  width: 50px;
  position: absolute;
}

.work__project--left {
  right: -25px;
}

.work__project--right {
  left: -25px;
}

.exp_line-horizontal {
  border-bottom: 1px solid #216e39;
  flex-grow: 1;
}

.exp_line-vertical {
  border-left: 1px solid #216e39;
}

.skills__icons-card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 5px;
}

.skills__icons-card h3 {
  text-align: center;
}

.icons-card__wrapper {
  overflow: scroll;
  width: 100%;
  display: flex;
  gap: 30px;
}

.icons-card__wrapper::-webkit-scrollbar {
  display: none;
}

.skills__icons::-webkit-scrollbar {
  display: none;
}

.icons-card__wrapper img {
  width: 100px;
}

.skills__leadership {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.skills__card-leadership {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: inherit;
}

.skills__card-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__card-leadership div {
  width: 100%;
}

.skills__article-leadership {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.skills__work--icon {
  width: 100px;
}

#unsta-icon {
  width: 70px;
}

/* Device Breakpoints */
/* Desktop Small */
@media only screen and (max-width: 1076px) {
  .work__card {
    max-width: 70%;
  }

  .skills__article-leadership {
    flex-direction: column;
    width: 100%;
  }

  .skills__leadership {
    width: -webkit-fill-available;
  }

  .skills__card-leadership {
    width: -webkit-fill-available;
  }
}

/* Mobile Large */
@media only screen and (max-width: 690px) {
  body {
    height: auto;
    gap: 25px;
  }

  .skills {
    padding: 0;
  }

  #first-divider {
    height: 15px;
  }
}

/* Mobile Medium */
@media only screen and (max-width: 496px) {
  #first-divider {
    height: 20px;
  }

  .work__wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .work__column {
    padding: 0;
    gap: 30px;
  }

  .work__card {
    padding: 10px;
    border-radius: 0;
    max-width: 100%;
  }

  .work__card h1 {
    margin: 5px 0;
  }

  .work__divider {
    display: none;
  }

  .work__project {
    display: none;
  }

  .exp_line-horizontal {
    display: none;
  }
}
