.skills__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.skills__article-work {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.skills__article-work h2 {
  text-align: center;
}

.skills__work {
  display: flex;
  gap: 30px;
}

.skills__card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.skills__card div {
  flex-grow: 1;
}

.skills-card__work--icon {
  width: 100px;
}

.skills__icons h3 {
  margin: 0;
}

.skills__icons {
  width: 20%;
  border: 1px solid #30363d;
  border-radius: 6px;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px 5px;
  overflow: scroll;
  max-height: 70vh;
}

.skills__leadership {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
}

.skills__card-leadership {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 25vw;
}

.skills__card-leadership div {
  width: 100%;
}

.skills__article-tools {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

body {
  height: auto;
}
header {
  height: auto;
}
