.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  min-height: 100%;
  overflow: auto;
}

.skills__article-work {
  gap: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.skills__article-work h2 {
  text-align: center;
}

.skills__work {
  display: flex;
  gap: 30px;
  width: 100%;
}

.skills__work h2 {
  text-align: center;
}

.skills__card {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.skills__card div {
  flex-grow: 1;
}

.skills__work--icon {
  width: 100px;
}

.skills__wrapper-icons {
  width: 15%;
  border: 1px solid #30363d;
  border-radius: 6px;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px 5px;
  overflow: scroll;
  max-height: 70vh;
}

.skills__icons {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.skills__wrapper-icons::-webkit-scrollbar {
  display: none;
}

.skills__icons::-webkit-scrollbar {
  display: none;
}

.skills__icons img {
  width: 100px;
}

.skills__leadership {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  gap: 30px;
}

.skills__card-leadership {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: inherit;
}

.skills__card-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__card-leadership div {
  width: 100%;
}

.skills__article-leadership {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

body {
  height: auto;
}

header {
  height: auto;
}

/* Device Breakpoints */
/* Desktop Medium */
@media only screen and (max-width: 1296px) {
  .skills__work {
    flex-direction: column;
    max-width: -webkit-fill-available;
  }

  .skills__wrapper-icons {
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 10px;
    gap: 10px;
  }

  .skills__icons {
    flex-direction: row;
    width: -webkit-fill-available;
    padding: 15px;
  }

  .skills__leadership {
    min-height: 550px;
  }

  .skills__card-leadership {
    width: calc(100% - 57vw);
  }
}

/* Desktop Small */
@media only screen and (max-width: 1076px) {
  .skills__article-leadership {
    flex-direction: column;
    width: 100%;
  }

  .skills__leadership {
    width: -webkit-fill-available;
  }

  .skills__card-leadership {
    width: -webkit-fill-available;
  }
}

/* Mobile Large */
@media only screen and (max-width: 690px) {
  .skills {
    padding: 20px 0;
  }

  .skills__icons img {
    width: 80px;
  }
}

/* Mobile Medium */
@media only screen and (max-width: 496px) {
  .main-section__article {
    width: 70%;
  }
}
