// Colors
$text-color: #f0f6fc;
$default-white: #ffffff;
$alternative-white: #ffffffb3;
$default-grey: #60686c99;
$default-black: #0d1117;
$alternative-black: #ffffff00;
$success-green: #238636;
$variation-green: #216e39;
$alternative-green: #2ea043;
$background-default: #010408;
$background-variation: #161b22;
$card-border: 1px solid #30363d;

// Border
$border-10: 10px;
$border-6: 6px;
$border-5: 5px;
$border-4: 4px;

// Spaces
$space-200: 200px;
$space-100: 100px;
$space-80: 80px;
$space-70: 70px;
$space-50: 50px;
$space-40: 40px;
$space-30: 30px;
$space-20: 20px;
$space-16: 16px;
$space-15: 15px;
$space-10: 10px;
$space-5: 5px;

// Font Sizes
$font-18: 18px;
$font-16: 16px;
$font-15: 15px;

// Weights
$weight-700: 700;
$weight-500: 500;

// Animations
$default-animation: background-color 2s ease-out;

// Shadows
$shadow-1: inset 0 -1px 0 #21262d;

//Break points
$desktop-medium: (
  min-width: 1296px,
);

$desktop-small: (
  min-width: 1076px,
);

$mobile-small: (
  min-width: 496px,
);
