@import 'utils/constants';
@import 'utils/mixin';

.bot {
  position: absolute;
  bottom: $space-30;
  right: $space-30;

  &--skill {
    bottom: 130px;
  }

  &--close {
    height: 75px;
    width: 75px;
  }

  &__btn {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    padding: 0;
    border: 0;

    &--open {
      display: none;
    }

    &--close {
      display: block;
    }
  }

  & img {
    width: 100%;
    height: 100%;
  }

  &__chat {
    display: none;
    width: 350px;
    height: 500px;
    background-color: $default-black;
    border: solid $border-5 grey;
    border-radius: $border-5;

    position: relative;

    &--open {
      display: block;
    }

    &--close {
      display: none;
    }

    &-window {
      padding: 35px $space-20;
      height: 100%;
      overflow-y: scroll;
      max-height: 460px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__input {
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
  }

  &__close {
    width: 25px;
    position: absolute;
    right: 0;
    border: none;
    padding: 0;
    background-color: $default-black;
  }

  & close-img {
    width: $space-20;
    height: $space-20;
  }

  .blob {
    border-radius: 50%;
    box-shadow: 0 0 0 0 $default-white;
    animation: pulse-white 2s infinite;
  }

  @keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 $alternative-white;
    }

    70% {
      transform: scale(1.2);
      box-shadow: 0 0 0 10px $alternative-black;
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 $alternative-black;
    }
  }
}

.chat {
  &__msg {
    position: relative;
    max-width: 100%;
    color: $default-black;
    background-color: $default-white;
    padding: 1.125em 1.5em;
    font-size: 1.25em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3),
      0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);

    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: 100%;
      left: 1.5em;
      border: 0.75rem solid transparent;
      border-top: none;
      bottom: -11px;
      transform: rotate(180deg);
      border-bottom-color: $default-white;
      filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
    }

    &-bot {
      background-color: $variation-green;
      &::before {
        left: 12.5em;
        border-bottom-color: $variation-green;
        bottom: -11px;
        transform: rotate(180deg);
      }
    }
  }
}
