// Utilities
@import 'utils/constants';
@import 'utils/mixin';

.contact {
  @include display-center;
  height: 100%;
  overflow: auto;
  min-height: 100%;
}

.contact__card {
  border-radius: $border-6;
  gap: $space-20;
  justify-content: space-around;
  align-items: center;
  padding: $space-20 $space-30;
  width: 100%;
}

.contact__card p {
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: $space-20;
  width: 85%;
}

.contact__form input {
  border-radius: $border-5;
  min-height: $space-30;
}

.contact__submit-wrapper {
  display: flex;
  align-self: center;
  gap: $space-30;
  margin-top: $space-30;
  font-weight: $weight-500;
  line-height: $space-20;
  white-space: nowrap;
}

.contact__form button {
  font-family: Lato, sans-serif;
  font-size: $font-15;
  color: $default-white;
  background-color: $success-green;
  border-color: rgba(240, 246, 252, 0.1);
  box-shadow: 0 0 transparent, 0 0 transparent;
  padding: $space-5 $space-16;
  border-radius: $border-4;
  cursor: pointer;
}

.contact__form button:hover {
  background-color: $alternative-green;
  border-color: rgba(240, 246, 252, 0.1);
}

.contact__form a {
  font-family: Lato, sans-serif;
  font-size: $font-15;
  text-decoration: none;
  cursor: pointer;
  color: #c9d1d9;
  background-color: #21262d;
  border-color: rgba(240, 246, 252, 0.1);
  box-shadow: 0 0 transparent, 0 0 transparent;
  padding: $space-5 $space-16;
  border-radius: $border-4;
}

.contact__form a:hover {
  background-color: rgba(96, 104, 108, 0.6);
  border-radius: $border-4;
}

/* Device Breakpoints */
/* Desktop Small */
@media only screen and ($desktop-small) {
  .contact__card {
    width: 65%;
    height: 50%;
    gap: $space-40;
  }
}

/* Desktop Medium */
@media only screen and ($desktop-medium) {
  .contact__card {
    width: 65%;
  }
}
