@import 'utils/constants';
@import 'utils/mixin';

.skills {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  gap: 50px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__work {
    & h2 {
      text-align: center;
    }

    &--icon {
      width: $space-100;
      width: 100px;
      background-color: white;
      padding: 10px;
      border-radius: 10px;
    }

    #filter {
      height: $space-30;
      width: 75vw;
      border-radius: $border-6;
      border: $card-border;
      background-color: $background-variation;
      color: #8b949e;

      &:focus {
        border-color: #58a6ff;
        outline: none;
        box-shadow: inset 0 0 0 1px transparent;
      }
    }
  }

  &__icons-card {
    display: flex;
    flex-direction: column;
    padding: $space-30;
    border: $card-border;
    border-radius: $border-5;
    background-color: $default-black;

    & h3 {
      text-align: center;
    }
  }

  &__activities {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: $space-30;
  }

  &__card-wrapper {
    height: 100px;
    @include display-center;
  }
}

.work {
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: $space-30;
  }

  &__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $space-30;
    flex-direction: column;

    & #bts-wrapper {
      display: flex;
      gap: $space-15;
    }
  }

  &__column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $space-50;
    min-width: 49%;
    padding: $space-10 0;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &--left {
      flex-direction: row-reverse;
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    border-radius: $border-10;
    max-width: 80%;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__title {
    margin: 0;
    box-shadow: $shadow-1;
    background-color: $background-variation;
  }

  &__content {
    padding: $space-20;

    & ul {
      list-style-type: none;
      padding: 0;
    }
  }

  &__divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    width: 100%;
    padding: $space-20 0;
  }

  &__project {
    width: $space-50;
    position: absolute;

    &--left {
      right: -25px;
    }

    &--right {
      left: -25px;
    }
  }

  &__current-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $space-10 0;

    &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: bold;
      max-height: 150px;
      max-width: fit-content;
    }

    & .work__content {
      display: flex;
      align-self: center;
      font-size: $font-32;
    }
  }
}

.date__wrapper {
  display: flex;
  align-items: center;
}

.exp_line {
  &--horizontal {
    border-bottom: 1px solid $variation-green;
    flex-grow: 1;
  }

  &--vertical {
    border-left: 1px solid $variation-green;
  }
}

.icons-card {
  &__wrapper {
    display: flex;
    overflow: scroll;
    width: 100%;
    gap: $space-30;

    &::-webkit-scrollbar {
      display: none;
    }

    &__icons::-webkit-scrollbar {
      display: none;
    }

    & img {
      width: $space-100;
    }
  }
}

.activities {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: $space-20;

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    gap: $space-30;
    border-radius: $border-6;

    & div {
      width: 100%;
    }
  }
}

#column--right {
  justify-content: center;
}

#unsta-icon {
  width: $space-70;
}

.skill-btn {
  position: relative;
  display: inline-block;
  padding: 5px $space-10;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;

  &--active {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  }

  &:nth-child(1) {
    filter: hue-rotate(270deg);
  }

  & span {
    position: absolute;
    display: block;

    &:nth-child(1) {
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: animate1 1s linear infinite;
    }

    @keyframes animate1 {
      0% {
        left: -100%;
      }

      50%,
      100% {
        left: 100%;
      }
    }

    &:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: animate2 1s linear infinite;
      animation-delay: 0.25s;
    }

    @keyframes animate2 {
      0% {
        top: -100%;
      }

      50%,
      100% {
        top: 100%;
      }
    }

    &:nth-child(3) {
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: animate3 1s linear infinite;
      animation-delay: 0.5s;
    }

    @keyframes animate3 {
      0% {
        right: -100%;
      }

      50%,
      100% {
        right: 100%;
      }
    }

    &:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: animate4 1s linear infinite;
      animation-delay: 0.75s;
    }

    @keyframes animate4 {
      0% {
        bottom: -100%;
      }

      50%,
      100% {
        bottom: 100%;
      }
    }
  }
}

/* Device Breakpoints */
/* Desktop Small */
@media only screen and ($desktop-small) {
  .skills {
    &-btn {
      padding: $space-10 $space-20;
    }

    & .bot {
      bottom: 30px;
    }

    &__work #filter {
      width: 20vw;
    }
  }

  .skill-btn {
    &:hover {
      background: #03e9f4;
      color: #050801;
      box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4;
      -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    }
  }

  .activities {
    flex-direction: row;
    padding-bottom: $space-5;
  }

  .work__input {
    justify-content: space-between;
    flex-direction: row;
    gap: $space-30;
  }

  #bts-wrapper {
    display: flex;
    gap: $space-30;
  }

  .work__content ul {
    list-style-type: disc;
    padding: $space-20;
  }

  .work__current-time {
    margin: $space-10 0 $space-10 $space-30;
  }
}
